
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* base rule/ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}   

html{
  font-size:62.5%;
  /* 1rem=10px */
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: "Poppins", sans-serif;
}

li,a,p,label{
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing:0.1rem;
  color: var(--para-color);
  line-height: 1.5;
}
a{
  text-decoration: none;
}
li{
  list-style:none;
}

/* theme  */


:root{
  --main-color :#0062ff;
  --support-color:#ebf3fe;
  --font-color:#424242;
  --bg-color:#fff;
  --heading-color:#000a19;
  --para-color:#504e4d;
  --h-color:#003b99;
  --test:#070101;
  --btn-hover-bg-color:#003b99;
  --white-color:#fff;
  --btn-box-shodow:rgba(100,100,111,0.2)0px 7px 29px 0px;
  --background-color:#f7fcff;
  --footer-bg-color:#040d12;
}

/* layout */
.container {
max-width: 142rem;
margin:0 auto;
padding:9.6rem 2.4rem;
}

/*   
 .section-about .container:first-child,
 .section-course .container:first-child,
 .section-contact-homepage .container:first-child,
 .section-blog .container:first-child,
 .section-why--choose .container:first-child,
 .section-contact .container:first-child{
  padding: 6.4rem 0 2.4rem 0;
} */


:is(.section-about,
  .section-course,
  .section-contact,
  .section-blog,
  .section-why--choose,
  .section-contact,
  .section-contact-homepage) .container:first-child{
   padding: 6.4rem 2.4rem 2.4rem 2.4rem;
 }

.grid{
  display: grid;
}
.grid-two--cols{
  grid-template-columns:repeat(2,1fr);
}

.grid-three--cols{
  grid-template-columns: repeat(3,1fr);
}
.grid-four--cols{
  grid-template-columns: repeat(4,1fr);
}

/* module/reuseable */

.section-commom-heading{
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize; 
}

.section-common-subheading{
  color: var(--heading-color);

}

.section-comman--title{
  font-size:2rem;
  margin:2rem 0 2rem 0;

}

.btn{
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}




.fa-solid{
  padding:2.4rem;
  background-color: var(--support-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size:2.4rem;
  color: var(--h-color);
  
}



/* states */
.btn:hover{
  background-color:var(--btn-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shodow);
}


/* nav section start */
.section-navbar{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.section-navbar .container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1.8rem 2.4rem;
}

.section-navbar .navbar ul{
  display: flex;  
  gap: 3.2rem;
  /* text-transform: capitalize; */

     & li a{
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 600; 
    font-size: 1.6rem;
    display: inline-block;
    position: relative;

     &::after{
       content:" ";
       position: absolute;
       bottom: 0;
       left: 0;
       width: 0%;
       border-bottom: .2rem solid var(--main-color);
       transition: all .3s linear;
       -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
       -ms-transition: all .3s linear;
       -o-transition: all .3s linear;
              }     
        }
         & li a:hover:after{
             width: 100%; 
                }           }
/* nav section end */

/* hero section */
main{   
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #697eff,
    #b3d2ff,
    #ebf3fe
  );
  position: relative;
  }

  .section-hero .grid{
    align-items: center;
    gap: 6.4rem;
  }
  .hero-heading{
    font-size:5.8rem;
    line-height: 1.5;
    font-family: "Jost";
    color: var(--h-color);
    font-weight: 900;
  }

  .hero-subheading{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    word-spacing: 0.2rem;
    font-weight:700;
    color: var(--h-color);
  }

  .hero-para{
    color:var(--white-color);
    margin: 2rem 0 4rem 0;
  }

  .section-hero--image img{
    width: 100%;
    height: auto;
    transform: scalex(-1);
    -webkit-transform: scalex(-1);
    -moz-transform: scalex(-1);
    -ms-transform: scalex(-1);
    -o-transform: scalex(-1);
}
/* shape divider start */
.custom-shape-divider-bottom-1716372947 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716372947 svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 12rem;
}

.custom-shape-divider-bottom-1716372947 .shape-fill {
  fill: #FFFFFF;
}
/* shape divider end */



/* about section  */

 .section-about .grid{
  gap: 6.4rem;
 }

 .section-about .about-div{
  text-align: center;
  padding: 2rem;
  gap: 6.4rem;
}


.section-about img{
  padding: 2.4rem;
  background-color: var(--support-color);
  height: auto;
  width: 15rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
}



.about-div .icon:hover > img{
 transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 background:linear-gradient(to right,#0575e6,#021b79);
}

/* end about section  */


 /* START COURSE SECTION   */
.section-course{
  background-color: var(--background-color);
}


 .section-course .grid{
  gap:3.2rem;

 }

 .section-course .course-div{
  padding: 3.2rem;
 }


  .section-course .course-div:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius:  3rem;
  -webkit-border-radius:  3rem;
  -moz-border-radius:  3rem;
  -ms-border-radius:  3rem;
  -o-border-radius:  3rem;
}


.course-div:nth-child(2) .icon .fa-solid{
background-color: #e7f6ef;
color: #68bf9b;
}

.course-div:nth-child(3) .icon .fa-solid{
  color: #ff8b52;
  background-color: #fbebe8 ;
  }
  
.course-div:nth-child(4) .icon .fa-solid{
  background-color: #ccf7f7;
  color: #183d3d;
  }

  
.course-div:nth-child(5) .icon .fa-solid{
  background-color:rgba(247, 233, 238,);
  color: #d988b9;
  }

  
.course-div:nth-child(6) .icon .fa-solid{
  background-color: #f6dfce;
  color: #ff9b50;
  }

  
.course-div:nth-child(7) .icon .fa-solid{
  color: #1450a3;
  }

.course-div:nth-child(8) .icon .fa-solid{
  background-color: #e7f6ef;
color: #68bf9b;
  }

 /* END COURSE SECTION  */

  /* section blog */

  .section-Blog{
    background-color: var(--support-color);
       & .grid{
              gap: 6.4rem;
       }
   

  }



  .blog{
    box-shadow: var(--btn-box-shodow);
    transition: scale .3s linear;
    -webkit-transition: scale .3s linear;
    -moz-transition: scale .3s linear;
    -ms-transition: scale .3s linear;
    -o-transition: scale .3s linear;

    & .blog-content{
      padding: 1.4rem 2.4rem 2.4m;
    }
  }
  
  .blog:hover{
    scale: 1.2;
   }

  .blog-date{
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
    padding:0;
    font-size:1.4rem;
  }

 .blog img{
  width:100%;
  height: auto;
 }
 .blog-content .fa-solid{
  padding: 1rem;
 }

 .section-comman--title{
  margin-top: 0.8rem;
 }

  /* end section blog  */


  /* start contact us page  */
    .mb3{
      margin-bottom: 3.2rem;
    }    
    label{
    display: block;
     text-transform: capitalize;
    }
    input,textarea{
      width: 100%;
      padding: 1.4rem 2.4rem;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
    }
    .contact-contain .grid{
      gap: 6.4rem;
    }

    ::placeholder{
      font: 1.6rem;
      letter-spacing: 0.1rem;
    }
    .btn-submit{
     text-transform: capitalize;
      font-size: 1.8rem;
      border: none;
    }


  /* end contact us page  */




 /* why chooose  */
 .section-why--choose .grid{
  gap: 9.6rem;  
 }

 .why-choose--div{
  margin-top: 3.2rem;
 }


 .common-text--highlight{
  width: 6rem;
  aspect-ratio: 1;
  background-color: var(--support-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  font-weight:700;
}

  .section-why--choose .text-align--right .why-choose--div{
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:end;
    text-align: right;
  
  }
  .choose--center--div img{
    width:90%;
    height: auto;
  }

  .choose--center--div  figure:before ,
  .choose--center--div figure::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 45rem;
    aspect-ratio: 1;
    z-index: -1;   
}

.choose--center--div figure::after{
  border:0.5rem solid var(--support-color);
  width:50rem;
  height:50rem;
  z-index: -2;
  background-color: transparent;
}


.choose--center--div figure::before{
  
  animation: circle 5s  infinite  linear;
  -webkit-animation: circle 5s  infinite  linear;
}

@keyframes circle {
  0%{
    background-color: #b3d0ff;
  }
  25%{
    background-color: #80b1ff;
  }
  50%{
    background-color: #4d91ff;
  }
  75%{
    background-color: #99c0ff;
  }
  100%{
    background-color: #3381ff;
  }
}

.choose--center--div ,figure{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
 /* end why choose  */


 /* CONTACT HOME SECTION  */
  .section-contact-homepage{
    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;
    margin-bottom:5rem;
    padding: 0 3.2rem;
    position: relative;
    bottom: -15rem;
    z-index: 1;   
    
    /* margin-bottom: -15rem; */
    background-color: var(--white-color);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    & grid{
      align-items: center;
    }
}
.contact-title{
  font-size:3.8rem ;
  line-height: 1.2;
}


.section-contact-homepage a{
  color: var(--white-color);
  text-transform:capitalize;
}

  .section-contact-homepage  .fa-solid{
padding:0;
color: var(--white-color);
background-color: var(--main-color);
}

.contact-content p{
  margin:1.2rem 0 2.4rem 0;
}

 .section-contact-homepage img{
  width: 90%;
  height: auto;
 }

 .section-contact{
  & .grid{
    gap: 6.4rem;
    align-content: center;
  }
 }
 input:focus-visible,textarea:focus-visible{
  outline: 0.1rem solid var(--main-color);
 }
   /* END CONTACT HOME SECTION  */

   /* footer section */
  footer{
    background-color: var(--footer-bg-color);
    padding-top:10rem ;
  }


  footer .grid{
    text-align: right;
  }

  footer *{
    color: var(--white-color);
    } 
    
    .footer-2--div,.footer-3--div,.footer-4--div{
        text-align:right;
    }
    .footer-subheading{
      font-size: 2.2rem;
      font-weight: 700;
    }

    .footer-1--div p{
      margin: 1rem 0 3.2rem 0;
      
    }

    .footer-1--div{
    text-align: left;
      & .social-footer--icons{
        display: flex;
        gap: 2.4rem;


      & .fa-brands{
        width: 5rem;
        aspect-ratio: 1;
        background-color: var(--support-color);
        color: var(--btn-hover-bg-color);
        border-radius:50% ;
        -webkit-border-radius:50% ;
        -moz-border-radius:50% ;
        -ms-border-radius:50% ;
        -o-border-radius:50% ;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s linear ;
        -webkit-transition: all 0.3s linear ;
        -moz-transition: all 0.3s linear ;
        -ms-transition: all 0.3s linear ;
        -o-transition: all 0.3s linear ;
      }
      }
    }

     .footer-1--div .fa-brands:hover{
      background-color: var(--btn-hover-bg-color);
      color: var(--support-color);
      cursor: pointer;
      rotate: 360deg; 
    }
 
   /* end footer section  */

   /* scroll bar */
  
   /* width  */
   ::-webkit-scrollbar{
    width: 10px;
   }
   /* track  */
   ::-webkit-scrollbar-track{
    background-color: var(--support-color);
   }

   /* handle  */
  ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--heading-color);
}

/* end of scrolll  */


/* scroll animation and scroll snap  */

/* media queries section */

@media (width<=1400) {
  html{
    font-size: 56.25%;
  }
}
.section-hero img{
  width: 90%;
}


@media (width<=1200) {
  html{
    font-size: 54%;
  }
}
.section-hero img{
  width: 90%;
}

@media (width<=998px) {
  .section-hero{
    height: auto;
    padding-bottom: 5rem;
  }
  .section-hero .grid-two--cols{
      grid-template-columns:1fr;
      & .section-hero--content{
        order: 2;
      }
      & .section-hero--image{
        order: 1;

        & img{
          width: 40%;
        }
      }
    }

    .section-about .about-div{
  text-align: left;
    }

    footer .grid-four--cols{
      grid-template-columns: repeat(3,minmax(250px,1fr));

      & .footer-1--div{
        grid-row: 2/3;
      }
    }


  }
 

@media (width <= 768px) {
  .grid-two--cols,.grid-three--cols{
    grid-template-columns:1fr;
  }

  .section-navbar .container{
    display: flex;
    flex-direction: column;

    & .navbar-brand{
      text-align: center;
      margin-bottom:2.4rem;
    }
  }
  }


@media (width <=1100px) {
  .section-course .grid-four--cols{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  }
}



/* end media queries section */
